{% load static %}
<!Doctype HTML>
<html>
  <head>
    <title>
      DE transport - {% block title %}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet"> 
    <link rel="stylesheet" href='{% static "css/base.css" %}' />
    {% block css %}
    {% endblock css %}
  </head>
  <body>
    {% if request.user.is_authenticated %}
    <div class='login'>
      <h1>{{request.user}}</h1>
      <a href='{% url 'logout-user' %}'>Log out</a>
    </div>
    {% else %}  
    <a class='logouted' href='{% url 'login-user' %}'>Log in</a>
    {% endif %}
    <header class='header'>
      <img class='logo' src='{% static 'images/DE_logo.jpg' %}'/>
      <ul class='links'>
        <li><a href='{% url 'home' %}'>Home</a></li>
        <li><a href='{% url 'post-order' %}'>Make an order</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'user-details' request.user.users.slug %}">Profile</a></li>
        {% endif %}
      </ul>
      <div class='head_info'>
      <h4><b>0777-77-77-77<br>
        Toktonalieva 6b, IT Academy
      </b></h4>
    </div>
    </header>
    {% block page_name %}
    {% endblock %}
    
    <div>
      {% block contents %}{% endblock contents %}
    </div>
    <footer>
      Footer is here
    </footer>
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        {% block js %}{% endblock %}
    <script>
    $(function() {
      $( ".datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:2012",
        dateFormat: "yy-mm-dd",  
      });
    });
    $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate: "+1w",
          changeMonth: true,
          numberOfMonths: 3
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );

    </script>
     </body>
</html>