.login{
    position: absolute;
    margin-left: 90%;
}

.header{
    display: flex;
    position: fixed; 
}
.links{
    margin-top: 20px;
    margin-left: 25%;
    list-style: none;
}
.links li{
    display: inline;
    margin: 0;
    padding: 20px;
}
.links a{
    color: #000;
    text-decoration: none;
}
.links a:hover{
    transition: 300ms;
    color: orange;
}
.head_number{
    margin-left: 15%;
    margin-top: 20px;
}