body{
    font-family: 'Oswald', sans-serif;
    font-size: 200%;
}
.login{
    margin-left: 5%;
}


.header{
    display: flex;
    /* position: fixed;  */
}
.links{
    margin-top: 20px;
    margin-left: 25%;
    list-style: none;
}
.links li{
    display: inline;
    margin: 0;
    padding: 20px;
}
.links a{
    color: #000;
    text-decoration: none;
}
.links a:hover{
    transition: 300ms;
    color: #E94615;
}
.head_info{
    margin-left: 15%;
    margin-top: 10px;
}
.logo{
    margin-top:1rem;
    height: 100%;
}