.home{
    background: url('../images/cars.png') center center  no-repeat;
    height: 200px;

}

.cars{
	padding-left:20px;
	display:flex;
	flex-wrap:wrap;
}

.img{
    width:200px;
    height: 200px;
}