.title-img{
    background: url('../images/cars.png') center center  no-repeat;
    height: 200px;
}

.cars{
	padding-left:20px;
	display:flex;
	flex-wrap:wrap;
}

.img{
    width:200px;
    height: 200px;
}
.car-link{
    color: inherit;
}
.car-link:hover{
    transition: 300ms;
    color: #E94615;
    text-decoration: none;
}