{% extends 'base.html' %}
{% load static %}

{% block css %}
 <link rel="stylesheet" href='{% static 'css/delete.css' %}'/>
{% endblock %}

{% block contents %}

<div>
    <form class="form-post" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
            <h1>Are You sure to delete this order?</h1>
            <div class='buttons'>
            <div class='button_separately'><input class='btn btn-danger btn-lg' type="submit" value="Delete"></div>
            <div class='button_separately'><a class='btn btn-primary btn-lg' href='{% url 'order-details' order.slug %}'>Cancel</a></div>
        </div>
    </form>
</div>
{% endblock %}

{% block title %}
Delete
{% endblock %}
