{% extends 'base.html' %}
{% load static %}

{% block css %}
 <link rel="stylesheet" href='{% static 'css/post-order.css' %}'/>
{% endblock %}

{% block contents %}

<div>
    <form class="form-post" method="POST">
        {% csrf_token %}
            {{ form.as_p }}
     
            <input type="submit" value="send">

    </form>
</div>
{% endblock %}
{% block title %}
{{ page_name }}
{% endblock %}

{% block page_name %}
<div class='page_name_div'>
<h2 class=page_name>{{ page_name }}</h2>
</div>
{% endblock %}

{% block footer %}
<div class='footer'>
    <p>Powered by Esen Esenaliev and Daniyar Dzhanybaev, DE TRANSPORTAION</p>
</div>
{% endblock %}